
@font-face{
	font-family:refdevil;
	src: url(../fonts/refdevil.ttf);
}

@font-face{
	font-family:truman;
	src: url(../fonts/empire.ttf);
}

@font-face{
	font-family:empire;
	src: url(../fonts/TRUMANS.otf);
}




/****************************

General

***************************/


#wrapper{
	margin-top:120px;
	color: var(--text-color-2);
	font-family:truman;
}

html,body{
	height:100%;
	font-family:truman;
}



.genericBlock{
	background-color:var(--image-bg-color);
	width:600px;
	color:var(--text-color);
	border:3px solid black;
	border-radius:10px;
	margin:0px auto;
	padding:20px;
}


/**************************

	Head / Nav

**************************/

/*Drop Down Message*/
#topMessage{
	margin:0px;
	left:0px;
	top:0px;
	position:fixed;
	text-align:center;
	width:100%;
	height:100px;
	background-color: var(--top-message-bg);
	color:var(--text-color);
	animation:1s ease-out 5s slideTop;
  animation-fill-mode: forwards;
	z-index:2;
}
#topMessage h2{
	width:100%;
	height:100px;
	text-align:center;
	vertical-align: middle;
}
@keyframes slideTop{
	0%{
		margin-top:0px;
	}
	100%{
		margin-top:-100px;
	}
}

/*Whole header*/
#header{
	width:100%;
	background-color:var(--head-bg-color);
	position:fixed;
	height:100px;
	left:0px;
	top:0px;
	transition: 0.5s, 0.5s top;
	margin-top:0px;
	z-index:1;
}
#header.scrolledUp{
	top:-100px;
}
#header .topnav{
	text-align:center;
	top:0px;
	vertical-align:bottom;
	left:50%;
	margin-left:-270px;
	position:absolute;

}
#header .topnav a{
	width:175px;
	height:100px;
	background-color:var(--a-bg-color);
	font-size:40px;
	color: var(--text-color);
	text-decoration:none;
	margin-right:10px;
	margin-top:0px;
	display:block;
	float:left;
	font-family:empire;
	text-decoration:none;
}
.topnav{
	display:inline;
	height:100px;
	margin-top:0px;
}
#header .topnav a.cookieJar{
	background-color:var(--jar-bg-color);
}
.mobileNav{
	visibility:hidden;
	height:0px !important;
}
#fullNav div #mobileJar{
	background-color:var(--jar-bg-color);
}
#navToggle{
	display:inline;
}
#navToggleUpper{
	display:inline;
	margin-top:10px;
}


/*Pull out menu*/
#fullNav{
	position:fixed;
	background-color:var(--head-bg-color);
	display:block;
	width:250px;
	height:100%;
	left:-250px;
	transition: 0.5s, 0.5s right;
	overflow-y:scroll;
	overflow-x:hidden;
}

#fullNav::-webkit-scrollbar{
	background-color:var(--head-bg-color);
	width:3px;
}
#fullNav::-webkit-scrollbar-thumb{
	background-color:var(--a-bg-color);
}

#fullNav.activeFullNav{
	left:0px;
}
#fullNav h2{
	float:left;
	font-family:refdevil;
	text-align:center;
	width:250px;
	margin-left:0px;
	color: var(--text-color-2);
	margin-top:0px;
}
#collapseHead{
	float:right;
	margin-top:10px;
	margin-right:5px;
	font-weight:bold;
	size:20px;
	color:var(--text-color);
	font-family:refdevil;
	float:right;
}
#earnings{
	text-align:center;
	color:var(--text-color-2);
}
#fullNav div p, #TandC{
	width:250px;
	text-decoration:none;
	height:30px;
	font-size:20px;
	padding-top:5px;
	background-color:var(--a-bg-color);
	color:var(--text-color);
	display:block;
	float:left;
	margin-left:0px;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	font-family:refdevil;
}
#fullNav div p a{
	text-decoration:none;
	color:var(--text-color);
	font-family:refdevil;
}
#fullNav .error{
	color:var(--text-color-2);
	padding-left:20px;
}
#mobileTop{
	visibility:hidden;
}


#SocialMediaLinks{
	bottom:0;
	right:0;
	position:fixed;
}
#SocialMediaLinks img{
	width:50px;
}


/*************************

Login

*************************/
#login{
	float:left;
	width:250px;
	margin-top:50px;
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid var(--text-color-2);
}
#login input{
	width:200px;
	margin-left:20px;
}
#signUp{
	margin-left:20px;
 	margin-top:20px;
}
#signUp input{
	width:200px;
}
#signUp input[type="checkbox"]{
	width:auto;
}
#signUp table td{
	padding-top:10px;
}
#signUp p{
	color:var(--text-color);
}
#signUp span{
	color:var(--text-color);
}
#signUp input, #login input{
	border:1px solid var(--text-color);
	padding:5px;
	background-color:var(--a-bg-color);
	color:var(--text-color);
}
#signup ::placeholder, #login ::placeholder{
	color:var(--head-bg-color);
}
#signUp input[type='submit']:hover, #login input[type='submit']:hover{
	background-color:var(--head-bg-color);
}
#signUp input[disabled="disabled"]{
	background-color:var(--create-input-disabled);
}
#signUp .error{
	color:var(--error-color);
}

/* Customize the label (the container) */
.checkmarkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmarkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:var(--a-bg-color);
}

/* On mouse-over, add a grey background color */
.checkmarkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmarkContainer input:checked ~ .checkmark {
  background-color: var(--head-nav-bg-color-2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmarkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmarkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
a.money{
	color:var(--text-color-2);
	text-decoration:none;
}
a.money:hover{
	color:white;
	text-decoration:underline;
}

/*Search Box*/
.searchBox {
    position: fixed;
		right:20px;
		margin-top:20px;
    /*transform:  translate(-50%,50%);*/
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}
.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}
.searchButton {
    color: white;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:right;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
@media screen and (max-width: 620px) {
	.searchBox:hover > .searchInput {
	    width: 150px;
	    padding: 0 6px;
	}
}
.material-icons{
	background-image:image("../Images/search-icon.png");
}

#TandC{
	position:absolute;
	display:block;
	margin-top:auto;
	margin-bottom:0px;
	bottom:0px;
}


/***********************

Create Image

************************/


#makeCookie span{
		color:var(--text-color);
		font-size:35px;
		margin-left:20px;
}
#makeCookie{
margin-left:0px;
	margin-bottom:10px;
	margin-top:10px;
	display:block;
	color:var(--create-label-text);
}
#makeCookie{
	width:100%;
}
#makeCookie table{
	width:100%;
}
#makeCookie textArea{
	width:90%;
	height:100px;
}
.earningsError{
	color:var(--error-color);
	margin-top:20px;
}

#makeCookie input{
	border:1px solid var(--create-input-text);
	padding:10px;
	background-color:var(--create-input-bg);
	color:var(--create-input-text);
}
#makeCookie input:hover{
	background-color:var(--create-input-bg-hover);
}

#submitCookie{
	width:100%;
	text-align:center;
	border:1px solid var(--create-input-text);
	padding:10px;
	background-color:var(--create-input-bg);
	color:var(--create-input-text);
	font-size:35px;
}
#submitCookie:hover{
	background-color:var(--create-input-bg-hover);
}
#submitCookie[disabled="disabled"]{
	background-color:var(--create-input-disabled);
}
#borderToggle.borderDisabled{
	background-color:var(--create-bg-color);
}
.tagOption{
	font-size:35px;
}
#isPrivate{
	width:40px;
	border:1px solid var(--create-input-text);
	padding:5px;
	background-color:var(--create-input-bg);
	color:var(--create-input-text);
	height:40px;
	border:1px solid var(--create-input-text);
	background-color:var(--create-input-bg);
}
#uploadingImage{
	visibility:hidden;
}
#pulledImage{
	width:400px;
	float:right;
	margin-right:20px;
	margin-bottom:40px;
}
.option textarea{
	width:400px;
	height:100px;
}
.imageOptions{
	margin-top:50px;
}

span#leaveunchecked{
	font-size:20px;
}
canvas{
	border:2px solid black;
}
.canvas-container{
	margin:20px auto 20px auto;
}

#creatorControls{
	margin:20px;
	margin-bottom:0px;
}

#creatorControls input, .textControls input, #creatorControls select, #creatorControls label, button, #search{
	border:1px solid var(--create-input-text);
	padding:5px;
	background-color:var(--create-input-bg);
	color:var(--create-input-text);
}
#creatorControls input:hover, .textControls input:hover, #creatorControls select:hover, #creatorControls label:hover, button:hover{
background-color:var(--create-input-bg-hover);
}

#textControls1.disabled input, #textControls2.disabled input{
	background-color:var(--create-input-disabled);
}

#fileForCreator{
	visibility:hidden;
	width:0px;
	height:0px;
}

#textControls1, #textControls2{
	margin-right:5px;
	margin-left:5px;
	display:inline;
}
#textControls1 input, #textControls2 input{
	margin:0px;
}

#cartForm{
	visibility:hidden;
}

::placeholder{
	color:var(--text-color-placeholder);
}

.quickCookieWrapper{
	height:300px;
	width:250px;
	background-color:white;
	border:1px solid black;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	overflow-x:hidden;
	position:relative;
}
.quickCookieImage{
	height:300px;
}

.quickCookieUpload{
	visibility:hidden;
	height:0px;
	width:0px;
}
.quickCookieUploadDiv{
	height:100px;
}
.quickCookieButton{
	border:1px solid white;
	border-radius:7px;
	padding:20px;
	font-size:20px;
	float:left;
	width:80%;
	margin:8%;
	margin-top:10px;
	text-align:center;
	display:block;
}
.quickCookieButton:hover{
	background-color:var(--a-bg-color);
}

.hiddenForm{
	visibility:hidden;
}

.buy:hover{
	background-color:#825600;
}
/****************************

Images on the seeCookies Feed

***************************/

#intro{
		width:500px;
		margin:0px auto;
		background-color:var(--tag-bg-color);
		border:5px black solid;
		border-radius:10px;
		color:white;
		margin-bottom:20px;
		padding-bottom:20px;
		font-size:20px;
		font-family:empire;
}
#intro p, #intro h1{
	margin:10px;
	text-align:center;
}
#intro span{
	text-decoration:underline;
}
#intro img{
	width:500px;
	margin-left:auto;
}
#allCookies{
	text-align:center;
	width:100%;
}
.cookie.genericBlock{
	margin: 20px auto;
	display:block;
	font-family:truman;
	color:var(--image-text-color);
	margin-top:30px;
	text-align:center;
}
.cookie h2{
	text-align:center;
	font-size:45px;
	color:var(--image-text-color-2);
}
.cookie a{
	font-size:30px;
}
.cookie h3{
	text-align:center;
	font-size:30px;
}
.cookie img{
	margin:0px auto;
}
.cookie img{
	border:1px solid black;
	width:80%;
	border:5px solid black;
}

.inactiveTag{
	background-color:var(--tag-inactive-color);
}
#filters{
	text-align:center;
}
.tag{
	transition:background-color 0.5s;
	padding:5px;
}
.tag:hover{
	background-color:var(--tag-inactive-color);
}
.tagControls{
	background-color:var(--tag-bg-color);
	border:5px black solid;
	border-radius:10px;
	color:white;
}
.tagControls input{
	width:100%;
	color:white;
	background-color:var(--tag-inactive-color);
	border-color:var(--tag-inactive-color);
}
.tagControls input:hover{
	background-color:var(--tag-bg-color);
}

#searchQuery h2, h4{
	text-align:center;
}
.buyForm{
	/*background-color:var(--pull-out-bg);*/
	height:100%;
	display:inline;
	margin-bottom:0px;
}
.buy{
	background-color:var(--jar-bg-color);
	border:1px solid white;
	border-radius:3px;
	display:block;
	float:left;
	font-size:150%;
	width:28.5%;
	margin:1%;
	padding:10px;
	text-align:center;
	margin:.25%;
	margin-top:15px;
}
.buyWrapper{
	margin:0px auto;
	width:550px;
	overflow:auto;
}

/****************************

Single Cookie

****************************/



.genericBlock .cookiePicture{
	width:90%;
}

.color2{
	color:var(--text-color-2);
}

#singleCookie{
	text-align:center;
}
#singleCookie h3{
	margin-top:40px;
}

#singleCookie #comments a{
	text-decoration:none;
	color:var(--image-text-color);
	padding-top:20px;
	display:block;
	text-align:left;
	padding:20px;
	font-size:30px;
}
#singleCookie #comments a:hover{
	color:var(--image-text-color-2);
}
#singleCookie #comments p{
	color:var(--image-text-color);
	text-align:left;
	font-size:25px;
	padding-left:20px;
}
#comments input{
	border:1px solid var(--create-input-text);
	padding:5px;
	background-color:var(--create-input-bg);
	color:var(--create-input-text);
	display:block;
	margin:10px auto;
	font-size:30px;
}
#comments input:hover{
background-color:var(--create-input-bg-hover);
}

#comments input.disabled{
	background-color:var(--create-input-disabled);
}
.commentBreak{
	border:1px solid white;
}
#singleCookie .break{
	height:0px;
	border:1px solid black;
	margin-left:-20px;
}
#comments{
	margin-bottom:30px;
}
#simmilar{
	width:100%;
	display:block;
	height:300px;
}
#simmilar img{
	float:left;
	display:inline;
	width:100%;
	border:5px solid black;
}
#simmilar .related{
	width:16.5%;
	float:left;
}

#mainCookie{
	border:5px solid black;
}

#singleCookie h1{
	font-size:50px;
}
#singleCookie h2{
	font-size:45px;
}
#singleCookie h3{
	font-size:40px;
}
h2 a{
	color:var(--text-color-2);
	text-decoration:none;
}
h2 a:hover{
	text-decoration:underline;
}
.break{
	border:1px solid var(--image-text-color-2);
	height:0px;
	width:100%;
	margin-right:-20px;
	margin-bottom:20px;
	margin-top:20px;
}
#comments textarea{
	width:80%;
	height:100px;
}

/*******************************************

User Image

******************************************/


.userimagewrapper{
	padding-left:50px;
	width:100%;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
}
#userImageFile{
	visibility:hidden;
}
#changeImageText{
	border-radius:100px;
	top:0;
	bottom:0;
	left:50px;
	right:0;
	position:absolute;
	height:150px;
	width:150px;
	background-color:black;
	color:white;
	border:2px solid black;
	vertical-align: center;
	opacity:0;
	transition:opacity, .5s;
}
#changeImageText:hover{
	opacity:50%;
}
#changeImageText h4{
	text-align:center;
	vertical-align:middle;
	margin-top:65px;
}
.userimgside{
	position:absolute;
	right:auto;
	left:auto;
	width:150px;
	height:150px;
	border:2px solid black;
	border-radius:100px;
}
#submitUserImage label{
	display:block;
	padding:auto;
	height:150px;
}

.userimgpage{
	width:250px;
	height:250px;
	border:2px solid black;
	border-radius:150px;
}
#userpage{
	text-align:center;
}

/****************************

change earnings

***************************/

#changeEarnings{
	padding:10px;
}
#changeEarnings label{
	color:var(--text-color);
	margin-top:10px;
}
#changeEarnings p{
	text-align:center;
	color:var(--text-color);
}
#changeEarnings p span{
	text-decoration:underline;
	color:var(--text-color-2);
}
#changeEarnings p input[type="radio"]{
	margin-left:15px;
}
#changeEarnings input[type="text"]{
	width:100%;
	margin-bottom:20px;
	font-size:35px;
}
#changeEarnings input[type="submit"]{
	width:100%;
	text-align:center;
	border:1px solid var(--create-input-text);
	padding:10px;
	background-color:var(--create-input-bg);
	color:var(--create-input-text);
	font-size:35px;
}
#changeEarnings input[type="submit"]:hover{
	background-color:var(--create-input-bg-hover);
}
#changeEarnings input[disabled="disabled"]{
	background-color:var(--create-input-disabled);
}

@media only screen and (max-width: 750px){
	body{
		margin-left:0px;
	}
	.genericBlock{
		width:90%;
		padding:5%
	}
	#singleCookie h1{
		font-size:50px;
	}
	#singleCookie h2, .cookie h2{
		font-size:40px;
	}
	#singleCookie h3, .cookie a{
		font-size:40px;
	}
	#createImage{
		width:100%;
	}
	#makeCookie span{
		font-size:25px;
	}
	#makeCookie tr td{
		color:var(--text-color);
	}
	#userImageWrapper{
		padding-left:0px;
	}
	#intro{
		width:100%;
	}
	#fullNav{
		width:100%;
		overflow-y:scroll;
	}
	#navToggleUpper, #navToggle{
		display:block;
		width:100%;
		text-align:center;
	}
	#navToggleUpper img{
		display:inline;
	}
	#fullNav{
		width:100%;
		left:-100%;
	}
	#fullNav p, #TandC{
		width:100%;
		font-size:35px;
	}
	#TandC{
		position:relative;
		margin-bottom:0px;
	}
	#fullNav div p{
		width:100%;
		font-size:35px;
		height:45px !important;
	}
	#fullNav h3, #fullNav h2{
		width:100%;
		font-size:35px;
	}
	#fullNav form{
		padding-top:20px;
		width:100%;
	}
	#fullNav table{
		width:100%;
	}
	#fullNav form input{
		width:85%;
		height:40px;
		margin-left:7.5%;
	}
	#fullNav form p{
		margin-left:7.5%;
	}
	#signUp{
		margin-left:0px;
	}
	#header .topnav{
		visibility:hidden;
		height:0px;
	}
	.userimagewrapper{
		padding-left:calc(50% - 76px);
		width:100%;
	}
	#changeImageText{
		left:calc(34% - 55px);
	}
	.cookie a{
		font-size:100%;
	}
	.mobileNav{
		visibility:visible;
		height:30px !important;
	}
	#changeEarnings{
		padding:0px;
	}
	#changeEarnings p{
		margin:10px;
		font-size:35px;
	}

	.buyWrapper{
		width:80%;
	}
	.buy{
		width:90%;
	}



}
